 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: #ebebeb;
 }

 div {
     background-color: white;
     max-width: 800px;

     margin-left: 140px;
     padding: 10px 90px 0 65px;
 }

 div:after {
     content: "";
     clear: both;
 }

 p {
     font-size: 24px;
 }

 p:first-of-type {
     margin-bottom: 63px;
 }

 p:nth-of-type(2) {
     margin-bottom: 362px;
 }

 section:after {
     content: "";
     display: block;
     clear: both;
 }
 ul {
     list-style: none;
     float: left;
     width: 24%;
     padding-top: 8px;
 }

ul li {
    font-size: 20px;
    line-height: 38px;
    text-align: left;
    padding-left: 25px;

}

ul li:first-of-type {
    color: white;
    margin-bottom: 24px;
}

ul:nth-child(1) li:first-of-type{
    box-sizing: border-box;
    padding-left:44px;
    padding-right: 45px;
    background-color: #1f2c39 ;
    line-height: 38px;
    color: white;
    border-radius: 35px 0 0 35px;

}

ul:nth-child(2) li:first-of-type {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 36px;
    background-color: #03246c;
    color: white;
}

 ul:nth-child(3) li:first-of-type {
     box-sizing: border-box;
     padding-left: 47px;
     padding-right: 56px;
     background-color: #028090;
     color: white;
 }

 ul:nth-child(4) li:first-of-type {
     box-sizing: border-box;
     padding-left: 38px;
     padding-right: 54px;
     background-color: #28aeaf;
     color: white;
 }

 ul:nth-child(1) li {
     margin-bottom: 20px;
     color: #1f2c39;
     text-align: left;
 }

 ul:nth-child(2) li {
     margin-bottom: 20px;
     color: #03246c;
 }

 ul:nth-child(3) li {
     margin-bottom: 20px;
     color: #028090;
 }

 ul:nth-child(4) li {
     margin-bottom: 20px;
     color: #28aeaf;
 }

 ul:nth-child(1){
     border-right: 3px solid  #1f2c39;
 }

 ul:nth-child(2){
     border-right: 3px solid  #03246c;
 }

 ul:nth-child(3){
     border-right: 3px solid  #028090;
 }

 ul:nth-child(4){
     border-right: 3px solid  #28aeaf;
 }







